<table class='featured_in_table' width="95%">
  <tbody>
    <tr height="40px">
      <td>
        <center>
          <span class='featured_title'>Featured in</span>
          <%= image_tag "press_icons/vogue 202x52.jpg", :style => "vertical-align:middle; max-width:90px"  %>
          <%= image_tag "press_icons/cosmo 300x55.jpg", :style => "vertical-align:middle; max-width:130px"  %>
          <%= image_tag "press_icons/self 90x52.jpg", :style => "vertical-align:middle; max-width:55px"  %>
          <%= image_tag "press_icons/US 80x60.jpg", :style => "vertical-align:middle; max-width:40px"  %>
          <%= image_tag "press_icons/lucky 150x52.jpg", :style => "vertical-align:middle; max-width:70px"  %>
          <%= image_tag "press_icons/instyle 202x51.jpg", :style => "vertical-align:middle; max-width:80px"  %>
          <%= image_tag "press_icons/elle 154x52.jpg", :style => "vertical-align:middle; max-width:80px"  %>
        </center>
      </td>
    </tr>
  </tbody>
</table>
